.lyft{
    
	display: inline-block;
	
}
.optionPayment{
	margin-top: 5%;
}
.payment{
	margin: 0 auto;
	text-align: center;
	transform: translateY(-30px);
}
.cabecera{
	margin-bottom:0px;
	border-bottom: 1px solid #eeeeee; 
}

.cuadroImg{
	height: 140px;
	
}
.conductor{
    border-radius: 100%;
	margin: 0 auto;
	margin-top: 50px;
	padding: 5px;
	border: 1px solid #adadad;
}
.btn-large{
	background: #474c62;
	border-color: #474c62; 
	padding: 15px;
}
#button{
	width: 100%;
	color: #fff;
	position: absolute;
	bottom: 0;
}

